@import "./common/var.scss";
@import "./common/normalize.scss";

@include mix-normalize-plus();

$h: 50px;
$active-color: #50718e;

.g-app {
  position: relative;
  height: 100vh;
  .g-header {
    height: $h;
    background: $bgc;
    h3 {
      color: $white;
      font-size: 2em;
      width: 230px;
      text-align: center;
      line-height: $h;
    }
  }
  .g-body {
    position: relative;
    height: calc(100vh - #{$h});
    overflow: hidden;
  }
  .g-side {
    height: 100%;
    width: 230px;
    float: left;
    background: $bgc;
    overflow: hidden;
    height: calc(100vh - #{$h});
    .ant-menu {
      height: 100%;
    }
  }
  .g-main {
    height: 100%;
    background: #fff;
    overflow: auto;
  }
  .g-container {
    min-width: 1120px;
    padding: 15px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1) {
  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
  }
}
