$black: #000;
$white: #fff;
$gray: #777;
$red: #f56c6c;
$orange: #f37b1d;
$green: #5eb95e;

$primary-color: #eb6100;
$text-color: #333;

$border-color: #c0bfc4;
$icon-color: #c8c8cd;
$bg-color: #f5f5f5;
$bgc: #314659;
